---
import type { HeadingSectionProps } from "../../utils/types";

interface Props {
  data: HeadingSectionProps;
}

const {
  data: { heading, subHeading, anchorLink },
} = Astro.props;
---

<section id={anchorLink}>
  <div class="container pt-24 pb-10">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-sm font-semibold uppercase tracking-wider text-primary-600">{subHeading}</p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-secondary sm:text-4xl font-heading">{heading}</h2>
    </div>
  </div>
</section>
